* {
  margin: 0;
  padding: 0;
}

/* .main{
    overflow: hidden;
} */
/* nav bar */
.navbar {
  background: rgb(16, 194, 16);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 30px;
}

.logo {
  width: 140px;
  height: 70px;
}

/* list */
nav ul.unorder {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin-right: 100px;
}

nav ul.unorder li {
  list-style: none;
}

nav ul.unorder li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  position: relative;
}

/* dropdown */
ul.dropdown {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  border: 1px solid;
}

.bx-chevron-up {
  position: relative;
  top: 4px;
}

.show .bx-chevron-up {
  transform: rotate(90deg);
}

ul.dropdown .show {
  display: flex;
}

/* search and others */
.search-and-others {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  position: relative;
  right: 50px;
}

input.search {
  width: 300px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px solid green;
}

.bx-search {
  position: absolute;
  left: 273px;
  top: 3px;
  background: rgb(47, 219, 47);
  padding: 9px 9px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-likes-carts {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

.profile {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
}

.ic {
  display: flex;
  gap: 30px;
  font-size: 23px;
  color: white;
  margin-top: 10px;
  margin-right: -70px;
}
.ic i{
  position: relative;
  cursor: pointer;
}
/* litte numbers uptop */
.collected-num{
  position: absolute;
  top: -5px;
  right: -4px;
  width: 10px;
  height: 10px;
  padding: 2px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background: rgb(60, 255, 0);
  font-family: 'Courier New', Courier, monospace;
}
/* location */
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(124, 226, 124);
}

.my-info,
.my-location {
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-info h3,
.my-location h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: "poppin", sans-serif;
  color: rgb(9, 43, 9);
  cursor: pointer;
}

.my-info i,
.my-location i {
  color: green;
  font-size: 20px;
}

/* -------------------------------- intro-----------------------------------------*/
.intro {
  display: flex;
  width: 97%;
  height: 84vh;
  margin-left: 20px;
  gap: 10px;
  margin-top: 10px;
}

.top-catigories {
  width: 30%;
  border-radius: 7px;
  border: 1px solid;
  background: rgba(202, 196, 196, 0.219);
}

.we-provide {
  width: 70%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.category {
  text-align: center;
  font-family: "poppin", sans-serif;
  font-size: 26px;
  color: rgb(34, 129, 34);
  margin-top: 10px;
}

.for {
  text-align: center;
  font-family: "poppin", sans-serif;
  font-size: 16px;
  margin-top: 7px;
  color: rgb(34, 129, 34);
}

img.c-img {
  width: 40px;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  /* position: relative; */
}

.int {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 100px;
}

.element-name {
  font-size: 18px;
  color: rgb(2, 20, 6);
  font-weight: bold;
  font-family: "poppin", sans-serif;
}

.element-about {
  font-size: 15px;
  color: rgb(66, 184, 50);
  font-weight: bold;
  font-family: "poppin", sans-serif;
}

.basket {
  width: 170px;
  height: 170px;
  margin-top: 10px;
  margin-left: 140px;
}

/* right side */
.infor-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.things {
  opacity: 0;
  transition: opacity 1s ease;
  position: absolute; /* keeps them in the same place */
  width: 100%;
}
.wow {
  opacity: 1;
}

.big-img {
  width: 100%;
  height: 86vh;
  border-radius: 7px;
}

.title {
  position: absolute;
  top: 200px;
  left: 44px;
  font-size: 58px;
  font-family: monospace;
  color: white;
}

.bg-btn {
  position: absolute;
  top: 450px;
  left: 44px;
  padding: 17px 60px 17px 20px;
  border-radius: 30px;
  background: white;
  border: 1px solid;
  font-size: 16px;
  color: green;
  display: flex;
  z-index: 1;
  cursor: pointer;
}
.bg-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, green, white, green);
  border-radius: 30px;
  z-index: -1;
  transition: 0.3s linear;
}
.bg-btn:hover::after {
  width: 100%;
}
.bg-btn:hover {
  color: rgb(34, 30, 30);
}
.bg-btn i {
  background-color: white;
}
.bg-btn i {
  border-radius: 50%;
  padding: 10px 10px;
  background: greenyellow;
  font-size: 18px;
  margin-top: -10px;
  margin-left: 105px;
  position: absolute;
}
.about {
  position: absolute;
  top: 350px;
  left: 44px;
  color: white;
  font-size: 16px;
}
.switch-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 1;
  display: flex;
  gap: 15px;
}

.switch-btn button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(221, 218, 218, 0.753);
  border: none;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}
.switch-btn button:hover {
  background: rgb(13, 175, 48);
}
.switch-btn button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.3s ease;
  z-index: -1;
}
.switch-btn button:hover::after {
  background: rgba(255, 255, 255, 0.493);
}

/*---------------------------------- carocell ---------------------------------*/
.home-carocel {
  margin-top: 40px;
  position: relative;
}
.top-offer {
  text-align: center;
  font-size: 22px;
  font-family: "Poppin", sans-serif;
  opacity: 0;
  transition: 8s ease;
}
.top-offer-show {
  opacity: 1;
}
.carocel {
  display: flex;
  margin-left: 250px;
  margin-top: 40px;
  gap: 20px;
  width: 70%;
  padding: 10px 5px 10px;
  overflow-y: none;
  overflow-x: scroll;
  opacity: 0;
  transform: translateY(100px);
  transition: 6s ease;
}
.carocel-show {
  opacity: 1;
  transform: translateY(0px);
}
.carocel::-webkit-scrollbar {
  width: 5px; /* width of vertical scrollbar */
  height: 5px; /* height of horizontal scrollbar */
}
.carocel::-webkit-scrollbar-track {
  background: #cec8c8;
  border-radius: 10px;
}
.carocel::-webkit-scrollbar-thumb {
  background: rgb(25, 201, 25);
  border-radius: 10px;
}
.carocel-list {
  position: relative;
  border-radius: 7px;
  transition: 0.3s ease;
  cursor: pointer;
}
.carocel-list:hover {
  .item-img {
    transform: scale(1.05);
  }
  .border {
    transform: scale(1.05);
  }
}
.item-img {
  width: 210px;
  height: 290px;
  border-radius: 7px;
  transition: 0.3s ease;
}
.border {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0px;
  border: 1px dashed;
  background: rgba(255, 255, 255, 0.616);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  transition: 0.3s ease;
}
.border i {
  color: white;
  font-size: 20px;
  padding: 10px;
  background: greenyellow;
  position: absolute;
  top: -13px;
  border: 1px dashed green;
  border-radius: 50%;
  margin-left: 90px;
}
.price {
  color: rgb(12, 92, 12);
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}
.p-name {
  font-size: 18px;
  color: rgb(34, 30, 30);
  font-weight: bold;
}
.home-carocel img :not(.onion, .pepper, .b-pepper) {
  opacity: 0;
}
.onion,
.pepper,
.b-pepper {
  position: absolute;
  width: 70px;
}
.onion {
  top: 130px;
  left: 70px;
  transform: rotate(30deg);
}
.pepper {
  top: 80px;
  right: 110px;
  transform: rotate(30deg);
}
.b-pepper {
  top: 170px;
  right: 40px;
  transform: rotate(-60deg);
}
/*       <!---------------------------------------Home deal  --------------------------------->
 */
.home-deal {
  margin-top: 70px;
}
.week {
  text-align: center;
  font-size: 34px;
  font-family: "poppin", sans-serif;
}
.hurry {
  font-size: 15px;
  font-family: "poppin", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: rgb(2, 95, 2);
}
.more {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: rgb(39, 41, 39);
}
.deal-carocel {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 60px;
  overflow: hidden;
}
.deal-info {
  display: flex;
  margin-top: 50px;
  margin-right: -30px;
}
.deal-left {
  width: 50%;
  border-radius: 5%;
}
.deal-right {
  width: 50%;
  border-radius: 5%;
}
.deal-border {
  position: relative;
  width: 740px;
  height: 430px;
  border-radius: 50%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  padding: 50px 80px;
  /* margin-left: 300px; */
  /* background: c; */
}
.timmer {
  position: absolute;
  display: flex;
  left: 260px;
  bottom: 500px;
  gap: 30px;
  color: white;
}
.timmer h4 {
  display: flex;
  flex-direction: column-reverse;
  font-size: 13px;
  background: red;
  width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
}
.timmer h4 span{
  font-size: 17px;
}
.deal-week {
  margin-top: 30px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.deal-name{
  margin-top: 34px;
  font-size: 26px;
  font-family: monospace;
}
.deal-discripton{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(93, 94, 95);
}
.deal-price{
  margin-top: 20px;
  font-size: 25px;
}
.deal-image {
  width: 690px;
  margin-left: -10px;
  position: absolute;
  bottom: 10px;
  right: -70px;
}
.shop{
  margin-top: 30px;
  padding: 14px 65px 14px 20px;
  font-size: 15px;
  font-size: 500;
  border: 1px solid;
  border-radius: 100px;
  background: rgb(13, 124, 13);
  color: white;
  position: relative;
  z-index: 1;
}
.shop::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: black;
  border-radius: 100px;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all .3s linear;
 

}

.shop:hover::after{
  width: 100%;
  
  .shop i{
  background: rgb(10, 214, 10);
  }
}
.shop:hover{
  color: black;
}
.shop i{
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: white;
  color: green;
  border-radius: 50%;
  padding: 10px;
  z-index: 1;
}
/* arrows */
.arrows{
  position: absolute;
  left: 30%;
  top: 220%;
  z-index: 1;
  display: flex;
  gap: 870px;
  justify-content: space-between;
}
.arrows i{
  background: rgb(255, 254, 254);
  font-size: 18px;
  border-radius: 50%;
  padding: 16px;
  color: black;
  box-shadow: 3px 4px 6px rgb(161, 157, 157);
  cursor: pointer;
}
/* .change-btn{
  position: absolute;
  bottom: 40px;
  left: 53%;
  top: 260%;
  z-index: 1;
  display: flex;
  gap: 15px;
}

.change-btn button {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(131, 123, 123, 0.753);
  border: none;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}
.change-btn button:hover {
  background: rgb(54, 223, 91);
}
.change-btn button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.3s ease;
  z-index: -1;
}
.change-btn button:hover::after {
  background: rgba(99, 82, 82, 0.493);
} */


/* // <!-- -------------------------------our produt quality --------------------------------> */
.product-quality{
  margin-top: 180px;
  position: relative;
}
.product-quality-carocel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.quality-list{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.quality-title{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 19px;
}
.quality-about{
  margin-top: 10px;
  color: #888484;
}
.quality-image{
  width: 50px;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 4px 9px 10px rgb(223, 219, 219);
  z-index: 1;
}
.bord{
  border: 5px dashed chocolate;
  border-left: none;
  border-top: none;
  border-right: none;
  padding: 25px 15px 25px;
  border-radius: 50%;
  background: white;
  width: 160px;
  height: 120px;
  object-position: center;
  margin-left: 110px;
}

.dashes{
  width: 99%;
  border: 1px dashed chocolate;
  position: absolute;
  top: 80px;
  z-index: -1;
}

/*        <!-----------------------------------home farm product  ---------------------------> */
.farm-product{
  margin-top: 60px;
  background: rgba(167, 235, 247, 0.363);
  height: 120vh;
  
}
h3.product-intro{
  text-align: center;
  font-size: 30px;
  font-family: 'poppin',sans-serif;
}

.list-of-product{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.product-btn{
  border: none;
  font-family: 'Courier New', Courier, monospace;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all .4s ;
}
.product-btn:hover{
  color: rgb(30, 197, 30);
}

/* styling card */
.all-product{
  display: grid;
  grid-template-columns: 1px 1px 1px 1px;
  align-items: center;
  margin-top: 20px;
  margin-left: 180px;
  column-gap: 290px;
  row-gap: 20px;
}
.product-list{
  position: relative;
  border-radius: 10px;
  width: 210px;
  height: 300px;
  background: white;
  padding: 30px 25px;
  box-shadow: 2px 4px 5px rgb(233, 230, 230);
}
.product-list .bxs-heart{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: rgb(189, 189, 194);
  transition: all .3s ease;
}
.product-list .bxs-heart .active1{
}

.product-image{
  width: 170px;
}
.ima{
  width: 170px;
  height: 230px;
  position: relative;
}
.product-rate{
  font-size: 12px;
  color: #b6b1b1;
  display: flex;
  gap: 20px;

  span{
    font-size: 16px;
  }
}
.product-name{
  font-size: 19px;
  margin-top: 8px;
  font-weight: 200;
  font-family: 'poppin',sans-serif;
}
.product-price{
  font-size: 19px;
  margin-top: 17px;
  font-family: monospace;
  color: green;
}

.show-likes{
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  
  /* hiding 2 icons be one */
  i:nth-child(1){
    transform: translateY(90px);
    opacity: 0;
    transition: all .3s linear;
  }
  i:nth-child(2){
    transform: translateY(45px);
    opacity: 0;
    transition: all .3s linear;

  }
  i:nth-child(3){
    z-index: 1;
  }
}
.show-likes:hover{
      i:nth-child(1){
      transform: translateY(0px);
      opacity: 1;
      transition: all .3s linear;
  }
    i:nth-child(2){
    transform: translateY(0px);
    opacity: 1;
    transition: all .3s linear;

  }
}

.show-likes i{
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    background: #e7e4e4ab;
    transition: all .6s ease;
    cursor: pointer;
}
.show-likes i:hover{
    border-radius: 50%;
    background-color: rgb(18, 223, 18);
    color: white;   
} 
/* button */
.pag-btn{
  margin-left: 700px;
  margin-top: 30px;
  position: relative;
}

.page-btn{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(131, 128, 128, 0.753);
  border: none;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}
.page-btn:hover {
  background: rgb(70, 69, 69);
}
.page-btn::after {
  content: "";
  position: absolute;
  top: -4.8px;
  left: -5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transition: 0.3s ease;
  z-index: -1;
}
.page-btn:hover::after {
  border: 1px solid rgb(80, 78, 78);
  box-shadow: 0 0 5px rgb(160, 157, 157);
}
.active{
  background: rgb(18, 223, 18);
  color: white;
}