* {
  margin: 0;
  padding: 0;
}

/* .main{
    overflow: hidden;
} */
/* nav bar */
.navbar {
  background: rgb(16, 194, 16);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 30px;
}

.logo {
  width: 140px;
  height: 70px;
}

/* list */
nav ul.unorder {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin-right: 100px;
}

nav ul.unorder li {
  list-style: none;
}

ul.unorder li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  position: relative;
}

/* dropdown */
ul.dropdown {
  display: flex;
  visibility: hidden;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  border: 1px solid;
  z-index: 1;
  transform: translateY(-20px);
  transition: all .2s ease;
  background: rgba(255, 255, 255, 0.733);
  padding: 0px 20px 20px;
  li a{
    color: black;
    transition: all .2s ease;
  }
  li a:hover{
    color: rgb(148, 146, 146);
  }
  i{
    display: none;
  }
}

nav ul.unorder:hover {
  i{
    transform: rotate(180deg);
  }
}
nav ul.unorder li:hover ul.dropdown{
  transform: translateY(0px);
  visibility: visible;
  
}

.bx-chevron-up {
  position: relative;
  top: 4px;
}
@keyframes bx-down{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(180deg);
  }
}
/* search and others */
.search-and-others {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  position: relative;
  right: 50px;
}

input.search {
  width: 300px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px solid green;
}

.bx-search {
  position: absolute;
  left: 273px;
  top: 3px;
  background: rgb(47, 219, 47);
  padding: 9px 9px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-likes-carts {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

.profile {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
}

.ic {
  display: flex;
  gap: 30px;
  font-size: 23px;
  color: white;
  margin-top: 10px;
  margin-right: -70px;
}
.ic i {
  position: relative;
  cursor: pointer;
}
/* litte numbers uptop */
.collected-num {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 10px;
  height: 10px;
  padding: 2px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background: rgb(60, 255, 0);
  font-family: "Courier New", Courier, monospace;
}
/* location */
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(124, 226, 124);
}

.my-info,
.my-location {
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-info h3,
.my-location h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: "poppin", sans-serif;
  color: rgb(9, 43, 9);
  cursor: pointer;
  display: flex;
  gap: 4px;
}

.my-info i,
.my-location i {
  color: rgb(7, 61, 7);
  font-size: 20px;
  margin-top: -1px;
}
/* --------------------------------------------------liked styling---------------------------------------------------- */
.vegetable-products{
  border: 2px solid;
    width: 80%;
      margin: 30px 0 30px 150px;
  padding: 20px;

}
.status{
  display: flex;
  gap: 170px;
  h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
  }
  .product{
    margin-right: 210px;
  }

}
.v-product{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.product-bay{
  display: flex;
  gap: 190px;
  align-items: center;

}
.pro-side{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 50px;
  h3{
    font-size: 16px;
    font-family: 'poppin',sans-serif;
  }
  p{
    font-size: 14px;
  }
}
.product-image{
  width: 70px;
}
.product-price{
  color: green;
  font-size: 15px;
  font-family: 'poppin',sans-serif;
}
.in-stock{
  background: rgba(182, 182, 185, 0.37);
  padding: 6px 15px;
  border-radius: 7px;
  font-size: 17px;
  color: rgb(107, 107, 235);
}
.add-to{
  padding: 13px 20px;
  border-radius: 7px;
  border: none;
  background: rgb(0, 204, 255);
  font-size: 15px;
  color: white;
  font-family: 'poppin',sans-serif;
  cursor: pointer;
}
.product-delete{
  width: 25px;
}
.remove{
  padding: 5px;
  color: rgb(163, 165, 167);
  border-radius: 50%;
  transition: all .6s ease;
}
.remove:hover{
  background: rgba(52, 178, 201, 0.644);
  color: white;
}
.quality-numb{
  display: flex;
  gap: 19px;
  padding: 10px;
  border: 1px solid;
  border-radius: 50px;
  button{
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
  }
}